.customButtonGroup {
  display: flex;
}

.customButton {
  border-radius: var(--border-radius);
  margin-right: var(--margin);
  height: 50px;
  color: var(--text-color) !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  font-size: 20px;
  background-color: var(--background-color) !important; /* 背景色を変数で設定 */
  border: 1px solid var(--primary-color) !important; /* 境界線色を変数で設定 */
}
