.footer {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #ddd;
}

.text {
  color: #888;
  margin: 0;
  font-size: 0.8rem; /* テキストサイズを小さくする */
}

.link {
  color: #888;
  text-decoration: none;
}

.link:hover {
  color: #555; /* ホバー時の色を設定 */
}

.linkContainer {
  display: flex;
  justify-content: center; /* 中央揃え */
  gap: 20px; /* リンク間のスペース */
}
