.customSubmitButtonFiled{
  display: flex;
  align-items: center;
  justify-content: center; /* 中央揃え */
}

.customSubmitButton{
  display: flex;
  align-items: center;
  justify-content: center; /* 中央揃え */

  border-radius: var(--border-radius);
  height: 30px; /* ボタンの高さ */
  width: 100%; /* ボタンの幅 */

  font-size: 12px; /* フォントサイズ */
  color: var(--text-color) !important; /* 文字色 */
  background-color: var(--primary-color) !important; /* 初期背景色 */
  border: none !important; /* 初期枠線の色と太さ */
}