.card {
  background-color: var(--primary-color); /* オレンジ色の背景 */
  color: white; /* 白色の文字 */
  padding: 20px;
  border-radius: var(--border-radius);
  text-align: center;
}

.label {
  text-align: left; /* 左揃えに設定 */
  margin: 0;
  font-size: 0.9rem; /* 文字サイズを調整 */
}

.amount {
  margin: -0.5em;
  font-size: 2.5rem; /* 金額のフォントサイズを大きく */
  font-weight: bold;
  margin-bottom: 0.5px;
}
