.footer {
  width: 100%;
  font-size: var(--font-size-small);
  text-align: center;
  position: fixed; /* フッターを固定するために使用 */
  bottom: 0; /* フッターを画面の下端に固定 */
  border-top: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center; /* 中央揃え */
  gap: 20px; /* リンク間のスペース */
}

.link {
  color: #888;
  text-decoration: none;
}

.link:hover {
  color: #555; /* ホバー時の色を設定 */
}