@import "./variables.css";

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 375px;
}

body {
  font-family: sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--background-color);
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Viewportの高さに合わせる */
  }

/* Utility classes */
.container {
  position: relative; /* 必要に応じて設定 */
  width: 100%; /* 親要素の幅に対して100% */
  background-color: var(--test1-color);
  margin: var(--margin-td) 0; /* 左右のマージンを自動に設定 */
  padding: 0 var(--margin-lr); /* 左右にマージン分のパディングを追加 */
  box-sizing: border-box; /* パディングとボーダーを幅に含める */
  flex: 1; /* 残りのスペースを埋める */
}

.container .component {
  background-color: var(--test2-color);
  text-align: left; /* 左揃えに設定 */
  margin: var(--margin-td) 0; /* 左右のマージンを自動に設定 */
}

.container .component .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0; /* 左右のマージンを自動に設定 */
  padding: 0; /* 左右にマージン分のパディングを追加 */
}

.container .component .row .left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0; /* 左右のマージンを自動に設定 */
  padding: 0; /* 左右にマージン分のパディングを追加 */
}

.container .component .row .right {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 0; /* 左右のマージンを自動に設定 */
  padding: 0; /* 左右にマージン分のパディングを追加 */
}

.container .widecomponent {
  background-color: var(--test2-color);
  width: calc(100% + 32px); /* 親コンポーネントよりも16px広くする */
  margin-left: -16px; /* 中央揃えするための調整 */
}

.container .hiddenTable {
    position: fixed;
    left: 0; /* 左端に固定 */
    bottom: -25%; /* 初期位置はほとんど隠れた状態 */
    width: 100%;
    transition: bottom 0.4s ease; /* アニメーションの設定 */
    box-sizing: border-box; /* パディングとボーダーを幅に含める */
}

.container .visibleTable {
    position: fixed;
    left: 0; /* 左端に固定 */
    bottom: 0; /* タッチされたときに表示される位置 */
    width: 100%;
    transition: bottom 0.4s ease; /* アニメーションの設定 */
    box-sizing: border-box; /* パディングとボーダーを幅に含める */

}

@media (max-width: 375px) {
}
