:root {
    --primary-color: #ffb300;
    --secondary-color: #c5c5c5;
    --background-color: #ffffff;
    --text-color: #000000;
    --font-size: 16px;
    --font-size-large: 20px;
    --font-size-small: 14px;
    --margin: 16px;
    --padding: 16px;
    --border-radius: 12px;
  }
  